.card {
  width: 18rem;
}

.container {
  margin-top: 5%;
}

.navbar{
  background-color: #1b4f84;
  border-color: #4d8fc8;
}

.resume {
  font-family: Open Sans;
  font-weight: 500;
  font-size: medium;
}

body {
  width: auto;
  height: auto;
}
.card{
  background-color: #880e4f;
  width: 18rem;
}

h3 {
  text-transform: capitalize;
  font-size: large;
  font-weight: bolder;
  color: indigo;
}
h6>a{
  color: lightblue;

}
h6>a:hover{
  color: cornflowerblue;

}
td>a{
  color: #cbbde2;
}
td>a:hover{
  color: lightblue;

}
td>b{
  color:#cbbde2;
}
td{
  text-transform: capitalize;
  color:#cbbde2;
}
tbody{
  background-color: #563d7c;
}

@media only screen and (max-width:320px){
  .card{
    width: 15rem;
  }
} 
